@import '../../../../styles/variables.scss';

.this_day_info {
  position: relative;
  padding: 40px;
  width: 100%;
  max-width: 750px;
  background: var(#{--components-background-default});
  box-shadow: var(#{--card-shadow-default});
  border-radius: $border-radius;
  .items {
    .item {
      position: relative;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      .indicator {
        padding: 8px;
        width: 38px;
        height: 38px;
        box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
        border-radius: 50%;
      }

      .indicator,
      .indicator_name{
          margin-right: 20px;
      }

      .indicator_name,
      .indicator_value{
        font-size: 14px;
      }
      .indicator_name{
        color: $base-color;
      }
      .indicator_value{
        color: var(#{--text-color-default});
      }
    }
  }
  .image_cloud {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .2;
    width: 350px;
    height: 190px;
  }
}
